node_modules
/out

.env
.env.production
.env.local
.env_main
concatenated-output.ts
embedding-cache.json
packages/plugin-buttplug/intiface-engine

.idea
.DS_Store

dist/
# Allow models directory but ignore model files
models/*.gguf

cookies.json

db.sqlite
searches/
tweets/

*.gguf
*.onnx
*.wav
*.mp3

logs/

test-report.json
content_cache/
test_data/
tokencache/
tweetcache/
twitter_cookies.json
timeline_cache.json

*.sqlite

characters/

packages/core/src/providers/cache
packages/core/src/providers/cache/*
cache/*
packages/plugin-coinbase/src/plugins/transactions.csv

tsup.config.bundled_*.mjs

.turbo

coverage
.eslintcache

agent/content
/server/server.log
/server/__pycache__/
/server/__pycache__/data_mapper.cpython-310.pyc
/server/__pycache__/main.cpython-310.pyc
/server/__pycache__/validators.cpython-310.pyc
/server/venv/
server/validators.py
server/__pycache__/main.cpython-313.pyc
server/__pycache__/validators.cpython-313.pyc
